body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    display: block;
    text-decoration: none;
    cursor: pointer !important;
}
.container, .container-btn {
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 50px;
}
.container-btn {
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.lang-container {
    display: flex;
    width: 72px;
    justify-content: space-between;
    margin-left: auto;
    padding-bottom: 30px;
}
.lang-item {
    font-weight: 400;
    font-size: 24px;
    cursor: pointer !important;
    color: #000;
}
.lang-active {
    font-weight: 700;
}
.button {
    background: #3D92D0;
    color: #fff;
    padding: 21px 75px;
    width: 484px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.button-more {
    background: #CACACA;
    color: #000;
    max-width: 463px;
    margin: -30px auto 0 auto;
    padding: 20px 120px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.address {
    text-transform: none;
    font-size: 24px;
    width: 331px;
    margin-left: auto;
}
.address-value {
    font-weight: 700;
}
.content {
    width: 463px;
    margin: 0 auto;
    position: relative;
    height: 55vh;
}
.content-container {
    position: absolute;
    top: 35%;
    margin-top: -0.625em;
}
.locked, .unlocked {
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
}
.locked-value, .unlocked-value {
    font-weight: 700;
}
.unlocked {
    margin-top: 36px;
}
.content-button {
    background: #3D92D0;
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    width: 463px;
    margin-top: 57px;
}
.visitor-language {
    width: 72px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 29px;
    margin-right: 69px;
}
.visit-lang {
    font-size: 24px;
    color: #000;
}
.visit-lang-en {
    font-weight: 700;
}

.table {
    max-width: 1115px;
    margin: 0 auto;
}
.line-one {
    max-width: 695px;
    margin: 0 auto;
    padding-bottom: 3px;
}
.line-one *:not(:last-of-type) {
    margin-right: 62px;
}
.line {
    display: flex;
    align-items: center;
}
.line-title {
    text-transform: capitalize;
    font-size: 24px;
    width: 164px;
    text-align: right;
}
.line-two {
    padding-top: 23px;
    border-top: 1px solid #000;
}
.line-three {
    margin-top: 11px;
}
.line-value {
    font-size: 24px;
    text-align: right;
}
.line-value:nth-child(2) {
    width: 82px;
}
.line-value:nth-child(3) {
    width: 102px;
    margin-left: 64px;
}
.line-value:nth-child(4) {
    width: 111px;
    margin-left: 65px;
}
.line-value:nth-child(5) {
    width: 108px;
    margin-left: 60px;
}
.line-value:nth-child(6) {
    width: 57px;
    margin-left: 54px;
    margin-right: 50px;
}
.line-btn {
    color: #595959;
    border: 1px solid #595959;
    padding: 11px 18px;
    text-transform: none;
    font-weight: 700;
    font-size: 24px;
}
.line-title-two, .line-title-three {
    margin-right: 49px;
}
.container-admin {
    max-width: 1025px;
    padding-left: 200px;
    padding-top: 104px;
}
.container-admin-content {
    padding-left: 200px;
}
.admin-title {
    text-transform: none;
    font-size: 24px;
}

.select-one-container {
    display: flex;
    align-items: center;
}
.select-one {
    position: relative;
    margin-top: 50px;
}
.select-one:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 23px 15px 0 15px;
    border-color: #3d93d0 transparent transparent transparent;
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 87%;
    z-index: 1;
    margin-top: -10px;
    cursor: pointer;
}
.select-one select {
    display: block;
    width: 463px;
    padding: 20px 0 21px 25px;
    background: none;
    border: 1px solid #3D92D0;
    -webkit-appearance: none;
    appearance: none;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 24px;
    color: #444;
}
.select-one select:focus {
    outline: 0;
    border-color: #3d93d0;
}
.select-one-available {
    text-transform: capitalize;
    font-size: 24px;
    margin-left: 38px;
    margin-top: 43px;
    width: 500px;
}
.available-span {
    font-weight: 700;
}
.select-one-course {
    margin-left: 38px;
    margin-top: 15px;
    margin-bottom: -15px;
    font-size: 20px;
}
.form {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.address-input {
    padding: 20px 0 21px 30px;
    border: 1px solid #3d93d0;
    font-size: 24px;
    width: 663px;
}
.address-input::-webkit-input-placeholder {
    color: #939393;
}
.amount-input::-webkit-input-placeholder {
    color: #939393;
}
.address-input:focus, .amount-input:focus, .select-two select:focus{
    border-radius: 0;
    outline: none;
    border: 1px solid #3d93d0;
}
.amount-input-first {
    margin-left: 27px;
    margin-right: 21px;
}
.amount-input {
    max-width: 146px;
    text-align: center;
    padding: 20px 24px;
    font-size: 24px;
    border: 1px solid #3d93d0;
}

.select-two {
    position: relative;
}
.select-two:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 23px 15px 0 15px;
    border-color: #3d93d0 transparent transparent transparent;
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 70%;
    z-index: 1;
    margin-top: -10px;
    cursor: pointer;
}
.select-two select {
    display: block;
    width: 174px;
    padding: 20px 0 21px 25px;
    background: none;
    border: 1px solid #3D92D0;
    -webkit-appearance: none;
    appearance: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 24px;
    color: #000;
}
.select-one select:focus {
    outline: 0;
    border-color: #3d93d0;
}
.amount {
    margin-top: 41px;
    margin-bottom: 41px;
    text-transform: capitalize;
    font-size: 24px;
}
.amount span {
    font-weight: 700;
}
.admin-btn {
    background: #3D92D0;
    padding: 21px 173px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    max-width: 463px;
    margin-bottom: 150px;
}
.container-address {
    padding-top: 50px;
    padding-right: 69px;
}

.container-investor {
    padding-left: 70px;
    padding-right: 70px;
}
.container-investor-inside {
    max-width: 463px;
    margin: 120px auto 0 auto;
}
.enab-inves-title {
    margin-left: 74px;
    text-transform: capitalize;
    font-size: 24px;
}
.enab-inves-available {
    margin-top: 77px;
    margin-bottom: 13px;
    font-size: 24px;
    text-transform: capitalize;
}
.enab-inves-available-span, .amount-value-first-item-span {
    font-weight: 700;
}
.amount-container {
    display: flex;
    align-items: center;
}
.amount-input-second {
    padding: 20px 127px 21px 39px;
    border: 1px solid #3D92D0;
}
.amount-value {
    margin-left: 45px;
}
.amount-value-first-item {
    margin-bottom: 17px;
    text-transform: uppercase;
    font-size: 24px;
}
.amount-input-second::-webkit-input-placeholder {
    color: #939393;
}
.address-input-second:focus{
    border-radius: 0;
    outline: none;
    border: 1px solid #3d93d0;
}
.amount-input-second {
    max-width: 261px;
    text-align: center;
    padding: 20px 124px 21px 39px;
    font-size: 24px;
    border: 1px solid #3d93d0;
}
.enab-inves-btn {
    background: #3D92D0;
    padding: 20px 160px;
    text-align: center;
    color: #fff;
    width: 463px;
    margin: 35px auto 120px auto;
    font-weight: 700;
}