body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    display: block;
    text-decoration: none;
    cursor: pointer !important;
}
.container, .container-btn {
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 50px;
    margin: 0 auto;
}
.container-btn {
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1,h2,h3,h4,h5,h6,p,a {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.lang-container {
    display: flex;
    width: 72px;
    justify-content: space-between;
    margin-left: auto;
}
.lang-item {
    font-weight: 400;
    font-size: 24px;
    cursor: pointer !important;
    color: #000;
}
.lang-active {
    font-weight: 700;
}
.button {
    background: #3D92D0;
    color: #fff;
    padding: 21px 75px;
    width: 484px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.address {
    text-transform: none;
    font-size: 24px;
    width: 331px;
    margin-left: auto;
}
.address-value {
    font-weight: 700;
}
.content {
    width: 463px;
    margin: 0 auto;
    position: relative;
    height: 55vh;
}
.content-container {
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
}
.locked, .unlocked {
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
}
.locked-value, .unlocked-value {
    font-weight: 700;
}
.unlocked {
    margin-top: 36px;
}
.content-button {
    background: #3D92D0;
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    width: 463px;
    margin-top: 57px;
}
.visitor-language {
    width: 72px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 29px;
    margin-right: 69px;
}
.visit-lang {
    font-size: 24px;
    color: #000;
}
.visit-lang-en {
    font-weight: 700;
}